<aside>{% include "tag_person_top.html" %}</aside>
        <article>
            <section>
                <div class="content">
                    <h2 class="no-top-m">Person's appointment</h2>
                    <p>You can view appointments assigned to the person (either potential or real participants). </p>
                    <div class="big-box">
                        <h3>Booked appointments:</h3>
                        <p>List of all appointments related to the person (visited, booked, pre-booked).</p>
                        <table class="main-table bordered-box no-bottom-m">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th><a href="#">Study phase <em class="fa fa-caret-down"></em> </a></th>
                                    <th><a href="#">Created on <em class="fa fa-caret-down"></em> </a></th>
                                    <th><a href="#">Author <em class="fa fa-caret-down"></em> </a></th>
                                    <th><a href="#">Booked on <em class="fa fa-caret-down"></em> </a></th>
                                    <th><a href="#">Visited on <em class="fa fa-caret-down"></em> </a></th>
                                    <th><a href="#">Location <em class="fa fa-caret-down"></em> </a></th>
                                    <th><a href="#">eCRF <em class="fa fa-caret-down"></em> </a></th>
                                    <th><a href="#">Appointment stage <em class="fa fa-caret-down"></em> </a></th>
                                    <th><a href="#">Action required <em class="fa fa-caret-down"></em> </a></th>
                                    <th><a href="#">Events logged <em class="fa fa-caret-down"></em> </a></th>
                                    <th><a href="#">Notes <em class="fa fa-caret-down"></em> </a></th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for appo in r_person_appointments %}
                            <tr>
                                <td>{{ appo['position'] }}</td>
                                <td><a href="edit_person_appointment.html" class="cell">{{ appo['study_phase'] }}</a></td>
                                <td><a href="edit_person_appointment.html" class="cell">{{ appo['created_on'] }}</a></td>
                                <td><a href="edit_person_appointment.html" class="cell"><em class="fa fa-user"></em> {{ appo['author'] }}</a></td>
                                <td><a href="edit_person_appointment.html" class="cell">{{ appo['booked_on'] }}</a></td>
                                <td><a href="edit_person_appointment.html" class="cell">{{ appo['visited_on'] }}</a></td>
                                <td><a href="edit_person_appointment.html" class="cell"><em class="fa fa-map-marker"></em> {{ appo['location'] }}</a></td>
                                <td><a href="edit_person_appointment.html" class="cell">{{ appo['ecrf'] }}</a></td>
                                <td><a href="edit_person_appointment.html" class="cell">{{ appo['appointment_stage'] }}</a></td>
                                <td><a href="edit_person_appointment.html" class="cell">
                                    {% if appo['action_required'] == "no" %}
                                    <span class="note-blue">No</span>
                                    {% else %}
                                    <span class="note-red">Yes</span>
                                    {% endif %}
                                </a></td>
                                <td><a href="edit_person_appointment.html" class="cell">{{ appo['events_logged'] }}</a></td>
                                <td><a href="edit_person_appointment.html" class="cell">{{ appo['notes'] }}</a></td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                        <div class="legend">
                            Total: 13 entries
                        </div>

                        {% include "tag_pagination.html" %}
                    </div>

                    <form action="#">

                            <div class="bordered-box">
                                <a href="#" class="button"><em class="fa fa-plus"></em> Create new appointment</a>
                            </div>
                        <div class="big-box">
                            <h3>New appointment</h3>

                            <div class="bordered-box">
                                <label for="study_phase"><a href="#">Study phase*: <em
                                            class="fa fa-info-circle"></em></a> <em
                                        class="info-box"><br>To what study phase is this appointment related.</em></label>
                                <select id="study_phase" name="study_phase">
                                    <option disabled selected>Select study phase</option>
                                    <option>Initial interview</option>
                                    <option>First pre-delivery visit</option>
                                    <option>Second pre-delivery visit</option>
                                    <option>Post dispatch follow-up</option>
                                    <option disabled>----</option>
                                    <option>NO PHASE: general appointment</option>
                                </select>
                            </div>

                            <div class="bordered-box">
                                <label for="booked_on"><a href="#">Booked date: <em
                                            class="fa fa-info-circle"></em></a> <em
                                        class="info-box"><br>To which date the appointment is booked (if relevant).</em></label>
                                <input type="datetime-local" id="booked_on" name="booked_on"
                                    placeholder="Booked date">
                            </div>

                            <div class="bordered-box">
                                <label for="location"><a href="#">Location of appointment: <em
                                            class="fa fa-info-circle"></em></a> <em
                                        class="info-box"><br>Where is the appointment going to happen.</em></label>
                                <select id="location" name="location">
                                    <option disabled selected>Select location</option>
                                    <option>Online or over the phone</option>
                                    <option disabled>----</option>
                                    <option>Liverpool Womens Trust</option>
                                    <option>Broadgreen Hospital</option>
                                    <option>Spire Hospital</option>
                                    <option>Royal University Hospital</option>
                                </select>
                            </div>

                            <div class="bordered-box">
                                <label for="visit_on"><a href="#">Visit date: <em
                                            class="fa fa-info-circle"></em></a> <em
                                        class="info-box"><br>When did actual appointment happened.</em></label>
                                <input type="datetime-local" id="visit_on" name="visit_on"
                                    placeholder="Visit date">
                            </div>

                            <div class="bordered-box">
                                <label for="ecrf"><a href="#">eCRF stage: <em
                                            class="fa fa-info-circle"></em></a> <em
                                        class="info-box"><br>The stage of the eCRF (electronic case report form), if applies.</em></label>
                                <select id="ecrf" name="ecrf">
                                    <option disabled selected>Select the eCRF stage</option>
                                    <option>required</option>
                                    <option>passed</option>
                                    <option>rejected</option>
                                </select>
                            </div>

                            <div class="bordered-box">
                                <label for="appointment_stage"><a href="#">Appointment stage: <em
                                            class="fa fa-info-circle"></em></a> <em
                                        class="info-box"><br>The stage of the appointment.</em></label>
                                <select id="appointment_stage" name="appointment_stage">
                                    <option disabled selected>Select the appointment stage</option>
                                    <option>created</option>
                                    <option>contacted</option>
                                    <option>unreachable</option>
                                    <option>want / need more time</option>
                                    <option>declined</option>
                                    <option>finished</option>
                                </select>
                            </div>

                            <div class="bordered-box">
                                <h4>Initial note for the appointment</h4>
                                <label for="note_subject"><a href="#">Note subject: <em
                                            class="fa fa-info-circle"></em></a> <em
                                        class="info-box"><br>Subject of the note (if relevant)</em></label>
                                <input type="text" id="note_subject"
                                    name="note_subject" placeholder="Note subject">
                                <div class="clear">&nbsp;</div>
                                <label for="note_text"><a href="#">Note*:
                                        <em class="fa fa-info-circle"></em></a> <em
                                        class="info-box"><br>Note description/content.</em></label>
                                <textarea id="note_text"
                                    name="note_text"
                                    placeholder="Note"></textarea>
                            </div>


                        </div>

                        <input type="submit" value="Save">
                    </form>

                </div>
            </section>
            <div class="clear"></div>
        </article>