<div class="pagination">
                <ul>
                    <li><a href="#" class="p-first"><em class="fa fa-chevron-left"></em></a></li>
                    <li><a href="#">1</a></li>
                    <li class="three-dots"><span>⋯</span></li>
                    <li class="low-res-hide"><a href="#">28</a></li>
                    <li><a href="#">29</a></li>
                    <li><a href="#" class="selected">30</a></li>
                    <li><a href="#">31</a></li>
                    <li class="low-res-hide"><a href="#">32</a></li>
                    <li class="three-dots"><span>⋯</span></li>
                    <li><a href="#">60</a></li>
                    <li><a href="#" class="p-last"><em class="fa fa-chevron-right"></em></a></li>
                </ul>
            </div>