<form action="#" method="get" id="action-box">
    <a href="edit_participant.html" class="button"><em class="fa fa-user"></em> <span class="big-screen">&nbsp; Details</span><span class="small-screen">Detail</span></a>
    <a href="person_appointment.html" class="button"><em class="fa fa-calendar"></em> <span class="big-screen">&nbsp; Appointments</span><span class="small-screen">Appoint.</span></a>
    <a href="notes.html" class="button"><em class="fa fa-sticky-note"></em> <span class="big-screen">&nbsp; Notes</span><span class="small-screen">Note</span></a>
    <a href="person_eligibility.html" class="button"><em class="fa fa-check-square"></em> <span class="big-screen"> &nbsp; Eligibility</span><span class="small-screen">Elig.</span></a>
    <a href="person_relations.html" class="button"><em class="fa fa-connectdevelop"></em> <span class="big-screen">&nbsp; Relations</span><span class="small-screen">Relation</span></a>
</form>
<div class="toolbar">
    <a href="#" class="button button-red float-right"><em class="fa fa-external-link"></em> RedCAP</a>
</div>
<div class="clear"></div>