
        <aside>
            <form action="#" method="get" id="action-box" class="action-inputs">
                <input type="text" placeholder="Search for person...">
                <input type="submit" value="&#xf002;" class="fa">
            </form>
            <div class="toolbar action-inputs">
                <a href="#" class="button float-right"><em class="fa fa-filter"></em> Newcomer</a>
                <a href="#" class="button float-right"><em class="fa fa-filter"></em> Action req.</a>
            </div>
            <div class="clear"></div>
        </aside>

        <article>
            <table class="main-table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th><a href="#">Last name <em class="fa fa-caret-down"></em> </a></th>
                        <th><a href="#">First name <em class="fa fa-caret-up"></em></a></th>
                        <th><a href="#">Middle name <em class="fa fa-caret-up"></em></a></th>
                        <th><a href="#">Study number <em class="fa fa-caret-up"></em></a></th>
                        <th><a href="#">Source <em class="fa fa-caret-up"></em></a></th>
                        <th><a href="#">NHS number <em class="fa fa-caret-up"></em></a></th>
                        <th><a href="#">Participant <em class="fa fa-caret-up"></em></a></th>
                        <th><a href="#">Action required <em class="fa fa-caret-up"></em></a></th>
                        <th><a href="#">Created <em class="fa fa-caret-up"></em></a></th>
                        <th><a href="#">Phone <em class="fa fa-caret-up"></em></a></th>
                        <th><a href="#">E-Mail <em class="fa fa-caret-up"></em></a></th>
                        <th><a href="#">Address <em class="fa fa-caret-up"></em></a></th>
                        <th><a href="#">Language <em class="fa fa-caret-up"></em></a></th>
                        <th><a href="#">DOB <em class="fa fa-caret-up"></em></a></th>
                    </tr>
                </thead>
                <tbody>
                    {% for part in r_participants %}
                    <tr>
                        <td>{{ part['position'] }}</td>
                        <td><a href="edit_participant.html" class="cell">{{ part['last_name'] }}</a></td>
                        <td><a href="edit_participant.html" class="cell">{{ part['first_name'] }}</a></td>
                        <td><a href="edit_participant.html" class="cell">{{ part['middle_name'] }}</a></td>
                        <td><a href="edit_participant.html" class="cell">{{ part['study_number'] }}</a></td>
                        <td><a href="edit_participant.html" class="cell">
                            {% if part['source'] == "K2" %}
                            <span class="note-blue">K2</span>
                            {% else %}
                            <span class="note-red">Volunteer</span>
                            {% endif %}
                        </a></td>
                        <td><a href="edit_participant.html" class="cell">{{ part['nhs_number'] }}</a></td>
                        <td><a href="edit_participant.html" class="cell">{{ part['is_participant'] }}</a></td>
                        <td><a href="edit_participant.html" class="cell">{{ part['action_required'] }}</a></td>
                        <td><a href="edit_participant.html" class="cell">{{ part['created'] }}</a></td>
                        <td><a href="edit_participant.html" class="cell">{{ part['phone'] }}</a></td>
                        <td><a href="edit_participant.html" class="cell">{{ part['email'] }}</a></td>
                        <td><a href="edit_participant.html" class="cell">{{ part['address'] }}</a></td>
                        <td><a href="edit_participant.html" class="cell">{{ part['language'] }}</a></td>
                        <td><a href="edit_participant.html" class="cell">{{ part['dob'] }}</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="legend">
                Total: 5598 entries
            </div>

            <div class="pagination">
                <ul>
                    <li><a href="#" class="p-first"><em class="fa fa-chevron-left"></em></a></li>
                    <li><a href="#">1</a></li>
                    <li class="three-dots"><span>⋯</span></li>
                    <li class="low-res-hide"><a href="#">28</a></li>
                    <li><a href="#">29</a></li>
                    <li><a href="#" class="selected">30</a></li>
                    <li><a href="#">31</a></li>
                    <li class="low-res-hide"><a href="#">32</a></li>
                    <li class="three-dots"><span>⋯</span></li>
                    <li><a href="#">60</a></li>
                    <li><a href="#" class="p-last"><em class="fa fa-chevron-right"></em></a></li>
                </ul>
            </div>

            <div class="clear"></div>
        </article>