<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Yanone+Kaffeesatz&display=swap" rel="stylesheet">
</head>

<body>
	{% include "tag_header.html" %}
    <section>
        {% include "tag_menu.html" %}
        {% include content_file %}
    </section>
    {% include "tag_footer.html" %}
</body>

</html>