
    <header>
        <div id="logo"><a href="{{ link_to_homepage }}"><strong>C</strong>-GULL</a></div>
        <div id="page-nav-top">{{ name }}</div>
        <a id="icon-person" class="fa fa-user" href="add_user.html"></a>
        <div id="person-info">

            <strong><a href="add_user.html">Joana F. Mills</a></strong>
            <div class="clear"></div>
            <a href="add_user.html">Leading Research Nurse</a>

        </div>


    </header>
    <div class="clear"></div>
