
        <nav>
            <ul>
                <li>
                    <a {% if url == 'index' %} class="selected"{% endif %} href="{{ link_to_homepage }}"><em class="fa fa-users"></em> People</a>
                </li>
                <li>
                    <a {% if url == 'study_phases' %} class="selected"{% endif %} href="study_phases.html"><em class="fa fa-list-ol"></em> Phases</a>
                </li>
                <li>
                    <a {% if url == 'itinerary' %} class="selected"{% endif %} href="itinerary.html"><em class="fa fa-calendar"></em> Itinerary</a>
                </li>
                <li>
                    <a href="#"><em class="fa fa-user"></em> Users</a>
                </li>
            </ul>
        </nav>