
        <nav>
            <ul>
                <li>
                    <a {% if url == 'index' %} class="selected"{% endif %} href="{{ link_to_homepage }}"><em class="fa fa-users"></em> People</a>
                </li>
                <li>
                    <a href="#"><em class="fa fa-calendar"></em> Study phases</a>
                </li>
                <li>
                    <a href="#"><em class="fa fa-user"></em> Users</a>
                </li>
            </ul>
        </nav>